{% extends "pages/base.html" %}

{% block content %}

<section class="simple-page">
    <div class="container auth-page">
        <div class="form-card auth-card">
            <h1>Реєстрація</h1>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="form-btn">Зареєструватись</button>
            </form>

            <p class="auth-link-text">
                Уже є акаунт?
                <a href="{% url 'login' %}">Увійти</a>
            </p>
        </div>
    </div>
</section>

{% endblock %}